<!-- deleteUser.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <style>
        body {
            background-color: #424242
        }   
        </style>
</head>
<body>
    <h1><%= pageTitle %></h1>
    <% if (typeof msg !== 'undefined') { %>
        <p><%= msg %></p>
    <% } %>
    <form method="POST" action="/users/deleteUser">
        <label for="id">ID do usuário:</label>
        <input type="number" id="id" name="id">
        <button type="submit">Excluir</button>
    </form>
</body>
</html>
